@import "tailwindcss";

:root {
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}
@layer base {
  ::selection {
    background-color: #d4af37; /* Warna emas saat teks diblok */
    color: white;
  }
}

body {
  margin: 0;
  /* Pakai font-serif untuk kesan mewah */
  font-family: "Playfair Display", serif;
  background-color: #f9f8f4;
  color: #4a4a4a;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}

a {
  
  text-decoration: none;
}
